@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* Color Themes */
:root {
    --primary-theme: #3CB043;
    --primary-font: #FFFFFF;
    --secondary-theme: #74330B;
    --secondary-hover: #80471C;
    --primary-error: #D10000;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-theme);
    color: var(--primary-font);
}

a {
    color: var(--primary-font);
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    cursor: pointer;
    color: var(--secondary-theme)
}

button {
    all: unset;
    border-radius: 20px;
    background-color: var(--secondary-theme);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button:hover {
    cursor: pointer;
    background-color: var(--secondary-hover);
}

#header-nav {
    height: 10vh;
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
    align-items: center;
    justify-content: space-between;
}

#navlist {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

#navlist > button {
    width: 120px;
    height: 40px;
}

/* adds a margin to the last element in the li tag to give it proper spacing*/
#navlist > li:nth-child(n+2) {
    margin-left: 1em;
}








/* styling for registration form below */

    #registration {
        width: 500px;
        margin-left: 150px;
        margin-top: 150px;
        flex-wrap: wrap;
    }


    /* top/heading of form */
        #registration > h2 {
            padding-right: 80px;
            padding-bottom: 5px;
            font-size: 30px;
        }

        #registration > p {
            padding-bottom: 20px;
            padding-left: 10px;
            font-size: 20px;
            color: var(--primary-font); 
        }

    /* div/input field styling */
        .div-input-field {
            background-color: white;
            border: 2px solid var(--secondary-theme);
            border-radius: 2px;
            height: 50px;
            width: 416px;
            margin: 10px 10px 10px 0px;
        }

        div > .icon {
            width: 50px;
            background-color: white;
            color: var(--secondary-theme);
            text-align: center;
        }


        div > input {
            height: 50px;
            border: none;
        }

        ::placeholder {
            font-family: 'Montserrat', sans-serif;
        }

        *:focus {
            outline-color: var(--primary-theme);
        }

        /* styling specific to long fields i.e. username, email, password */
            div > .long-input {
                width: 360px;
            }


        /* styling specific to first name and surname fields  */
            .name-field {
                width: 199px;
                display: inline-block;
                margin-bottom: 0px;
            }

            #surname-div {
                text-align: center;
            }

            div > #firstname-input {
                width: 143px;
            }

            div > #surname-input {
                width: 146px;
                padding-left: 50px;
            }



    /* bottom of form/base */
        #registration-base {
            margin-top: 20px;
            display: flex;
            width: 100%;
            margin-bottom: 15px;
        }

        #registration > div > span {
            padding-right: 40px;
            margin-left: 10px;
            margin-top: 20px;
            color: var(--primary-font);
            font-size: 15px;
        }

        #register {
            height: 60px;
            width: 160px;
            text-align: center;
            font-size: 20px;
        }