@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* Color Themes */
:root {
    --primary-theme: #fefbe9;  /*green*/
    --primary-font: #183a1d; /*white*/
    --secondary-theme: #f0a04b; /*brown*/
    --secondary-hover: #f6c453; /*lighter brown*/
    --primary-error: #dc143c; /*red*/
    --success: #e1eedd; /*other green*/
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-theme);
    color: var(--primary-font);
    height: 100vh;
}

a {
    color: var(--primary-font);
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    cursor: pointer;
    color: var(--secondary-theme)
}

button {
    all: unset;
    text-align: center;
    border-radius: 20px;
    background-color: var(--secondary-theme);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-theme);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button:hover {
    cursor: pointer;
    background-color: var(--secondary-hover);
}

#header-nav {
    height: 10vh;
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
    align-items: center;
    justify-content: space-between;
    background-color: var(--success);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

#navlist {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

#navlist > button {
    width: 120px;
    height: 40px;
}

/* adds a margin to the last element in the li tag to give it proper spacing*/
#navlist > li:nth-child(n+2) {
    margin-left: 1em;
}

#page {display: flex;
    justify-content: center;
    height: 90vh;
}

#oops {
    font-size: 4em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

#subheading-container {
    display: flex;
    align-items: center;
    margin-left: 3em;
}

#subheading-container h2 {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

#subheading-container button {
    width: 120px;
    height: 40px;
    margin-left: 1em;
}

#content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    background-color: var(--success);
    color: var(--primary-font);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 2em;
}

.card-top, .card-bottom {
    height: 50%;
}

.card-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-bottom > div {
    margin-left: 1em;
    margin-right: 1em;
}

/* .card-bottom > div > h2 > a {
    color: var(--primary-font);
} */

.btn-bottom {
    display: flex;
    justify-content: space-evenly;
}

.btn-bottom {
    margin: 1em;
}
.btn-bottom button {
    width: 120px;
    height: 40px;

    background-color: var(--success);
    box-shadow: none;
    color: var(--secondary-theme);
}

#delete-btn {
    /* background-color: var(--primary-error); */
    color: var(--primary-error);
}

.card-top img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.line {
    height: 100%;
    width: 2px;
    background-color: var(--primary-theme);
    box-shadow: inset 1px 1px 1px #113B08;
    border-radius: 5px;
}


#error-bar {
    margin-top: 1em;
    position: absolute;
    width: 500px;
    height: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    color: var(--success);
    background-color: var(--primary-error);
}

.success {
    color: var(--success);
    background-color: var(--primary-font);
}

/* styling for registration form below */
#registration {
    width: 500px;
    margin-left: 150px;
    /* margin-top: 150px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

/* top/heading of form */
#registration > h2 {
    padding-right: 80px;
    padding-bottom: 5px;
    font-size: 30px;
}

#registration > p {
    /* padding-bottom: 20px; */
    padding-left: 10px;
    font-size: 20px;
    color: var(--primary-font); 
}

/* div/input field styling */
.div-input-field {
    background-color: white;
    border: 2px solid var(--secondary-theme);
    border-radius: 2px;
    height: 50px;
    width: 416px;
    margin: 10px 10px 10px 0px;
}

.div-input-field > .icon {
    width: 50px;
    background-color: white;
    color: var(--secondary-theme);
    text-align: center;
}


.div-input-field > input {
    height: 50px;
    border: none;
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
}

*:focus {
    outline: none;
}

/* styling specific to long fields i.e. username, email, password */
.div-input-field > .long-input {
    width: 360px;
}


/* styling specific to first name and surname fields  */
#name-container {
    display: flex;
}

.name-field {
    width: 199px;
    display: inline-block;
    margin-bottom: 0px;
}

#surname-div {
    text-align: center;
}

.name-field > #firstname-input {
    width: 143px;
}

.name-field > #surname-input {
    width: 146px;
    padding-left: 50px;
}

/* bottom of form/base */
#registration-base {
    margin-top: 20px;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

#registration-base > span {
    padding-right: 40px;
    margin-left: 2em;
    margin-top: 20px;
    color: var(--primary-font);
    font-size: 15px;
}

#registration-base > span:hover {
    cursor: pointer;
}

#register-btn {
    height: 60px;
    width: 160px;
    text-align: center;
    font-size: 20px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 800px) {
    #content-container {
        margin-top: 3em;
    }

    #error-bar {
        width: 100%;
    }

    #registration {
        margin-left: 0px;
        align-items: center;
    }

    #registration-form {
        width: 400px;
    }

    #registration-form > p{
        align-self:flex-start;
        margin-left: 1em;
    }

    .div-input-field {
        margin-left: 0px;
        margin-right: 0px;
        width: max-content;
    }

    .div-input-field > .long-input {
    width: 340px;
    }

    #name-container {
        justify-content: space-between;
    }
    .name-field > #firstname-input {
    width: 130px;
    }
}

    /* top/heading of form */
        #registration > h2 {
            padding-right: 80px;
            padding-bottom: 5px;
            font-size: 30px;
        }

        #registration > p {
            padding-bottom: 10px;
            padding-left: 10px;
            font-size: 20px;
            color: var(--primary-font); 
        }

    /* div/input field styling */
        .div-input-field {
            background-color: white;
            border: 2px solid var(--secondary-theme);
            border-radius: 2px;
            height: 50px;
            width: 416px;
            margin: 10px 10px 10px 0px;
        }

        div > .icon {
            width: 50px;
            background-color: white;
            color: var(--secondary-theme);
            text-align: center;
        }


        div > input {
            height: 50px;
            border: none;
        }

        ::placeholder {
            font-family: 'Montserrat', sans-serif;
        }

        *:focus {
            outline: none;
        }

        /* styling specific to long fields i.e. username, email, password */
            div > .long-input {
                width: 360px;
            }


        /* styling specific to first name and surname fields  */
            .name-field {
                width: 199px;
                display: inline-block;
                margin-bottom: 0px;
            }

            #surname-div {
                text-align: center;
            }

            div > #firstname-input {
                width: 143px;
            }

            div > #surname-input {
                width: 146px;
                padding-left: 50px;
            }

    /* bottom of form/base */
        #registration-base {
            margin-top: 20px;
            display: flex;
            width: 100%;
            height: 2em;
            margin-bottom: 15px;
        }

        #registration > div > span {
            padding-right: 40px;
            margin-left: 10px;
            margin-top: 20px;
            color: var(--primary-font);
            font-size: 15px;
        }

        #register {
            height: 60px;
            width: 160px;
            text-align: center;
            font-size: 20px;
        }

/* styling for new trip/holiday form below */

#newtrip, #editHoliday {
    width: 500px;
    margin-left: 150px;
    margin-top: 150px;
    flex-wrap: wrap;
}

#newtrip>h2, #editHoliday>h2 {
    padding-right: 80px;
    padding-bottom: 5px;
    font-size: 30px;
}

#newtrip input, #editHoliday input {
    font-family: 'Montserrat', sans-serif;
}

#newtrip input:focus, #editHoliday input:focus{
    outline: none;
}

.date-field {
    width: 199px;
    display: inline-block;
    margin: 0 10px 0 0;
}

.date-field input {
    width: 140px;
}

#newtrip-base, #editHoliday-base {
    margin-top: 20px;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

#create, #edit {
    width: 84%;
    height: 60px;
    text-align: center;
    font-size: 20px;
}

textarea {
    font-family: 'Montserrat', sans-serif;
    resize: none;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
}

.description-field {
    height: 200px;
}

/* Add holiday part plus sign*/

.add-part-div > #addPart {
    font-size: 120px;
    color: var(--primary-font);
    margin-left: 50px;
}

.add-part-div > #addPart:hover {
    color: var(--secondary-hover);
    cursor: pointer;
}

/* events styling */
#event-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
}
.event-card {
    border-radius: 10px;
    width: 900px;
    height: fit-content;
    min-height: 325px;
    background-color: var(--primary-font);
    color: var(--primary-theme);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 2em 2em 2em 4em;
    padding: 10px;
}

.event-card img{
    width: 400px;
    height: 300px;
    object-fit: cover;

    float: left;
    margin: 5px;
    text-align: justify;
}

.event-content {
    height: fit-content;
}

.event-header {
    padding: 10px;
    margin: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-icons {
    display: flex;
    gap: 10px;
}

.event-description {
    padding: 5px;
    margin: 5px;
}

.event-icon {
    width: 50px;
    background-color: var(--primary-font);
    color: var(--secondary-theme);
    text-align: center;
}

.event-icon:hover {
    color: var(--secondary-hover);
    cursor: pointer;
}